.grey-button{
  background-color: grey;
  height: 50px;
  width: 100px;
}
.item{
  height: 40px;
  font-size: 15px;
  line-height: 40px;
  width: 300px;
  margin: 10px 50px;
  border:1px solid;
  background-color: white;
  padding: 0 10px;
}